@using ExpenseTrackerApp.Models.ViewModels.TransactionViewModels
@using System.Text.Json
@model ExpenseTrackerApp.Models.ViewModels.HomeViewModel

<body class="dashboard">
<div id="main-wrapper">
    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-4">
                                <div class="page-title-content">
                                    <h3>Dashboard</h3>
                                    <p class="mb-2">Welcome Trackify Finance Management</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="breadcrumbs">
                                    <a asp-controller="Home" asp-action="Home">Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="stat-widget-1">
                        <h6>Total Balance</h6>
                        <h3>$ 432568</h3>
                        <p>
                            <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
                            Last month <strong>$24,478</strong>
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="stat-widget-1">
                        <h6>Total Period Change</h6>
                        <h3>$ 245860</h3>
                        <p>
                            <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
                            Last month <strong>$24,478</strong>
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="stat-widget-1">
                        <h6>Total Period Expenses</h6>
                        <h3>$ 25.35</h3>
                        <p>
                            <span class="text-danger"><i class="fi fi-rr-arrow-trend-down"></i>2.47%</span>
                            Last month <strong>$24,478</strong>
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="stat-widget-1">
                        <h6>Total Period Income</h6>
                        <h3>$ 22.56</h3>
                        <p>
                            <span class="text-success"><i class="fi fi-rr-arrow-trend-up"></i>2.47%</span>
                            Last month <strong>$24,478</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-6">
                    <div class="card">
                        <div class="card-header balance-trend">
                            <h4 class="card-title">Balace Trends <br> <span>@Model.BalanceTrendsViewModel.Balance$</span></h4>
                            <div class="trend-stats">
                                <p class="mb-0">Last Month</p>
                                @{
                                    if (@Model.BalanceTrendsViewModel.BalancePercentage < 0)
                                    {
                                        <span class="text-danger">
                                            <i class="fi fi-rr-arrow-trend-down"></i>
                                            @Model.BalanceTrendsViewModel.BalancePercentage%
                                        </span>
                                    }
                                    else if (@Model.BalanceTrendsViewModel.BalancePercentage > 0)
                                    {
                                        <span class="text-success">
                                            <i class="fi fi-rr-arrow-trend-up"></i>
                                            @Model.BalanceTrendsViewModel.BalancePercentage%
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-secondary">
                                            @Model.BalanceTrendsViewModel.BalancePercentage%
                                        </span>
                                    }
                                }
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="chartjsMonthlyExpenses"></canvas>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly Expenses Breakdown</h4>
                        </div>
                        <div class="card-body">
                            <div class="progress-stacked">
                                <div class="progress" style="width: 38%">
                                    <div class="progress-bar bg-orange-500"></div>
                                </div>
                                <div class="progress" style="width: 22%">
                                    <div class="progress-bar bg-amber-500"></div>
                                </div>
                                <div class="progress" style="width: 12%">
                                    <div class="progress-bar bg-yellow-500"></div>
                                </div>
                                <div class="progress" style="width: 9%">
                                    <div class="progress-bar bg-lime-500"></div>
                                </div>
                                <div class="progress" style="width: 8%">
                                    <div class="progress-bar bg-green-500"></div>
                                </div>
                                <div class="progress" style="width: 6%">
                                    <div class="progress-bar bg-cyan-500"></div>
                                </div>
                                <div class="progress" style="width: 5%">
                                    <div class="progress-bar bg-stone-500"></div>
                                </div>
                            </div>
                            <div class="list-1 mt-3">
                                <ul>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-orange-500"></i>Food</p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-amber-500"></i>Transport</p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-yellow-500"></i>Healthcare
                                        </p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-lime-500"></i>Education</p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-green-500"></i>Clothes</p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-cyan-500"></i>Pets</p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                    <li>
                                        <p class="mb-0"><i class="fi fi-ss-circle text-stone-500"></i>Entertainment
                                        </p>
                                        <h5 class="mb-0"><span>$1200</span>38%</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly Budgets</h4>
                        </div>
                        <div class="card-body">
                            <div class="budget-content">
                                <ul>
                                    <li>
                                        <div class="budget-info flex-grow-2 me-3">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="mb-1"><i class="bg-green-500 fi fi-rr-carrot"></i>Grocery
                                                    Stores</h5>
                                                <p class="mb-0"><strong>75 </strong>/ 100</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-green-500" role="progressbar"
                                                     style="width: 75%;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="budget-info flex-grow-2 me-3">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="mb-1"><i
                                                        class="bg-cyan-500 fi fi-rr-bus"></i>Transportation
                                                </h5>
                                                <p class="mb-0"><strong>25 </strong>/ 100</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan-500" role="progressbar"
                                                     style="width: 25%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="budget-info flex-grow-2 me-3">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="mb-1"><i class="bg-sky-500 fi fi-sr-cat"></i>Pets</h5>
                                                <p class="mb-0"><strong>50 </strong>/ 100</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-sky-500" role="progressbar"
                                                     style="width: 50%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="budget-info flex-grow-2 me-3">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="mb-1"><i
                                                        class="bg-indigo-500 fi fi-rr-graduation-cap"></i>Education
                                                </h5>
                                                <p class="mb-0"><strong>45 </strong>/ 100</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-indigo-500" role="progressbar"
                                                     style="width: 45%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="budget-info flex-grow-2 me-3">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h5 class="mb-1"><i
                                                        class="bg-violet-500 fi fi-rr-shirt-long-sleeve"></i>Clothes
                                                </h5>
                                                <p class="mb-0"><strong>35 </strong>/ 100</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-violet-500" role="progressbar"
                                                     style="width: 35%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-8 col-xl-8 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Monthly Income vs Expenses</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chartjsIncomeVsExpense"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Footer/_Footer.cshtml"/>
</div>
<script>
    //Transaction Graph 
    setTimeout(() => {
        var incomes = @Html.Raw(Json.Serialize(Model.IncomeVsExpensesData.incomsChartData));
        var expenses = @Html.Raw(Json.Serialize(Model.IncomeVsExpensesData.expensesChartData));
        var ctx = document.getElementById("chartjsIncomeVsExpense")
        ctx.height = 100
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Incomes',
                    data: incomes,
                    backgroundColor: 'rgba(47, 44, 216,1)',
                },
                    {
                        label: 'Expenses',
                        data: expenses,
                        backgroundColor: 'rgba(47, 44, 216,0.2)',
                    }]
            },
            options: {
                responsive: !0,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        },
                        ticks: {
                            display: true, // hide main x-axis line
                            beginAtZero: true
                        },
                        barPercentage: 1,
                        categoryPercentage: 0.5
                    }],
                    yAxes: [{
                        gridLines: {
                            drawBorder: false, // hide main y-axis line
                            display: false
                        },
                        ticks: {
                            display: true,
                            beginAtZero: true
                        },
                    }]
                },
                tooltips: {
                    enabled: true
                }
            }
        })
    });
</script>
<script>
    // Transaction Graph
    setTimeout(() => {
        var ctx = document.getElementById("chartjsMonthlyExpenses");
        ctx.height = 300;

        // Data passed from the server
        var monthlyExpenses = @Html.Raw(JsonSerializer.Serialize(Model.BalanceTrendsViewModel.Balances));

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Monthly Balance',
                    data: monthlyExpenses,
                    backgroundColor: 'rgba(75, 192, 192, 1)', // Fixed color for consistency
                    borderColor: 'rgba(75, 192, 192, 0.2)', // Border color
                    borderWidth: 1
                }]
            },
            options: {
                responsive: !0,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        gridLines: {
                            drawBorder: false,
                            display: false
                        },
                        ticks: {
                            display: true, // hide main x-axis line
                            beginAtZero: true
                        },
                        barPercentage: 2,
                        categoryPercentage: 0.2
                    }],
                    yAxes: [{
                        stacked: true,
                        gridLines: {
                            drawBorder: false, // hide main y-axis line
                            display: false
                        },
                        ticks: {
                            display: true,
                            beginAtZero: true
                        },
                    }]
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    }, 100);
</script>
</body>
