@model ExpenseTrackerApp.Models.ViewModels.BudgetViewModels.BudgetViewModel

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Budgets</h3>
                                        <p class="mb-2">Welcome Trackify Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Budgets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="budgets-tab">
                    <div class="row g-0">
                        <div class="col-xl-3">
                            <div class="nav d-block">
                                <div class="row">
                                    @{
                                        for (int i = 0; i < Model.Budgets.Count(); i++)
                                        {
                                            string filterActive = i == 0 ? "active" : "";
                                            string tabId = "tab" + i;

                                            <div class="col-xl-12 col-md-6">
                                                <div class="budgets-nav @filterActive" data-bs-toggle="pill" data-bs-target="#@tabId">
                                                    <div class="budgets-nav-icon">
                                                        <span><i class="fi @Model.Budgets[i].Budget.Category.CategoryIcon.Code"></i></span>
                                                    </div>
                                                    <div class="budgets-nav-text">
                                                        <h3>@Model.Budgets[i].Budget.Category.Title</h3>
                                                        <p>$@Model.Budgets[i].Budget.Amount</p>
                                                    </div>
                                                    <span class="show-time">@Model.Budgets[i].Budget.BudgetType.Name</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="add-budgets-link">
                                <h5 class="mb-0">Add new budget</h5>
                                <a href="add-new-account.html">
                                    <i class="fi fi-rr-square-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="tab-content budgets-tab-content">
                                @{
                                    // The first Item Has to be market as shown
                                    for (int i = 0; i < Model.Budgets.Count(); i++)
                                    {
                                        string classText = i == 0 ? "tab-pane fade show active" : "tab-pane fade";
                                        string tabId = "tab" + i;

                                        <div class="@classText" id="@tabId">
                                            <div class="budgets-tab-title">
                                                <h3>@Model.Budgets[i].Budget.Category.Title</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <span>Spend</span>
                                                                    <h3>$@Model.Budgets[i].SpendAmount</h3>
                                                                </div>
                                                                <div class="text-end">
                                                                    <span>Budget</span>
                                                                    <h3>$@Model.Budgets[i].BudgetAmount</h3>
                                                                </div>
                                                            </div>
                                                            <div class="progress">
                                                                <div class="progress-bar" style="width: @Model.Budgets[i].SpendPercentage%;"
                                                                     role="progressbar">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between mt-2">
                                                                <span>@Model.Budgets[i].SpendPercentage%</span>
                                                                <span>@Model.Budgets[i].BudgetPercentage%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                                    <div class="budget-widget">
                                                                        <p>Last Month Expenses</p>
                                                                        <h3>$@Model.Budgets[i].SpendLastMonth</h3>
                                                                    </div>
                                                                </div>
                                                                <!-- Todo -->
                                                                <!--
                                                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                                    <div class="budget-widget">
                                                                        <p>Debt</p>
                                                                        <h3>$365,478</h3>
                                                                    </div>
                                                                </div>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Budget Period </h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <canvas id="chartjsBudgetPeriod"></canvas>
                                                            <script>
                                                                //chartjsBudgetPeriod
                                                                setTimeout(() => {
                                                                    var ctx = document.getElementById("chartjsBudgetPeriod")
                                                                    ctx.height = 100
                                                                    new Chart(ctx, {
                                                                        type: 'bar',
                                                                        data: {
                                                                            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                                                                            datasets: [{
                                                                                label: 'a',
                                                                                data: [5, 6, 4.5, 5.5, 3, 6, 4.5, 6, 8, 3],
                                                                                backgroundColor: 'rgba(47, 44, 216,1)',
                                                                            },
                                                                            {
                                                                                label: 'b',
                                                                                data: [4, 5, 3.5, 4.5, 2, 5, 3.5, 5, 7, 2],
                                                                                backgroundColor: 'rgba(47, 44, 216,0.6)',
                                                                            },
                                                                            {
                                                                                label: 'c',
                                                                                data: [4, 5, 3.5, 4.5, 2, 5, 3.5, 5, 7, 2],
                                                                                backgroundColor: 'rgba(47, 44, 216,0.3)',
                                                                            }
                                                                            ]
                                                                        },
                                                                        options: {
                                                                            responsive: !0,
                                                                            maintainAspectRatio: false,
                                                                            legend: {
                                                                                display: false
                                                                            },
                                                                            scales: {
                                                                                xAxes: [{
                                                                                    stacked: true,
                                                                                    gridLines: {
                                                                                        drawBorder: false,
                                                                                        display: false
                                                                                    },
                                                                                    ticks: {
                                                                                        display: true, // hide main x-axis line
                                                                                        beginAtZero: true
                                                                                    },
                                                                                    barPercentage: 1.5,
                                                                                    categoryPercentage: 0.3
                                                                                }],
                                                                                yAxes: [{
                                                                                    stacked: true,
                                                                                    gridLines: {
                                                                                        drawBorder: false, // hide main y-axis line
                                                                                        display: false
                                                                                    },
                                                                                    ticks: {
                                                                                        display: true,
                                                                                        beginAtZero: true
                                                                                    },
                                                                                }]
                                                                            },
                                                                            tooltips: {
                                                                                enabled: true
                                                                            }
                                                                        }
                                                                    })
                                                                }, 100)
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
</body>