@model ExpenseTrackerApp.Models.ViewModels.UserViewModels.ProfileViewModel

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Profile</h3>
                                        <p class="mb-2">Welcome Trackify Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a asp-controller="Home" asp-action="Home">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a asp-controller="UserManage" asp-action="Profile">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-name">
                                    <div class="d-flex">
                                        <img src="./images/avatar/1.jpg" alt="">
                                        <div class="flex-grow-1">
                                            <h4 class="mb-0">@Model.User.ApplicationUserName</h4>
                                            <p>@Model.User.Email</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-reg d-flex">
                                    <div class="registered col-12">
                                        <h5>@Model.User.registeredSince.ToString("d MMMM yyyy")</h5>
                                        <p>Registered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="tab-content profile-wallet-tab">
                            <div class="tab-pane fade show active" id="city-bank">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="wallet-progress-data">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <span>Spend</span>
                                                    <h3>$@Model.TotalSpend</h3>
                                                </div>
                                                <div class="text-end">
                                                    <span>Budget</span>
                                                    <h3>$@Model.TotalBudget</h3>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: @Model.SpendPercentage%;" role="progressbar">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <span>@Model.SpendPercentage%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
</body>
