@using ExpenseTrackerApp.Models.ViewModels.TransactionViewModels
@using System.Text.Json
@model AnalyticsData

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Analytics</h3>
                                        <p class="mb-2">Welcome Trackify Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a asp-controller="Home" asp-action="Home">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a asp-controller="Transaction" asp-action="Analytics">Analytics</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a asp-controller="Transaction" asp-action="Analytics" style="color: #2F2CD8">Analytics</a>
                            <a asp-controller="Transaction" asp-action="Expenses">Expenses</a>
                            <a asp-controller="Transaction" asp-action="Income">Income</a>
                            <a asp-controller="Transaction" asp-action="IncomeVsExpenses">Income vs Expenses</a>
                            <a asp-controller="Transaction" asp-action="Balance">Balance</a>
                            <a asp-controller="Transaction" asp-action="TransactionHistory">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-sm-6">
                                <div class="analytics-widget">
                                    <div class="widget-icon me-3 bg-primary">
                                        <span>
                                            <i class="fi fi-rr-mobile"></i>
                                        </span>
                                    </div>
                                    <div class="widget-content">
                                        <p>Daily Average @DateTime.Now.ToString("MMMM")</p>
                                        <h3>$@Model.DailyAverageValue</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6">
                                <div class="analytics-widget">
                                    <div class="widget-icon me-3 bg-success">
                                        <span>
                                            <i class="fi fi-rr-replace"></i>
                                        </span>
                                    </div>
                                    <div class="widget-content">
                                        <p>Change</p>
                                        <h3>@{
                                                if(Model.TotalAmount > 0) {@("$" + "+" + Model.TotalAmount) } else { @("$" + Model.TotalAmount)  }
                                            }
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6">
                                <div class="analytics-widget">
                                    <div class="widget-icon me-3 bg-warning">
                                        <span>
                                            <i class="fi fi-rs-receipt"></i>
                                        </span>
                                    </div>
                                    <div class="widget-content">
                                        <p>Total Transaction</p>
                                        <h3>@Model.TotalTransactions</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6">
                                <div class="analytics-widget">
                                    <div class="widget-icon me-3 bg-danger">
                                        <span><i class="fi fi-ss-confetti"></i></span>
                                    </div>
                                    <div class="widget-content">
                                        <p>Categories</p>
                                        <h3>@Model.NumberOfCategories</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Monthly Change</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="chartjsMonthlyExpenses"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
    <script>
        // Transaction Graph
        setTimeout(() => {
            var ctx = document.getElementById("chartjsMonthlyExpenses");
            ctx.height = 300;

            // Data passed from the server
            var monthlyExpenses = @Html.Raw(JsonSerializer.Serialize(Model.MonhtlyChange));

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: 'Monthly Balance',
                        data: monthlyExpenses,
                        backgroundColor: 'rgba(75, 192, 192, 1)', // Fixed color for consistency
                        borderColor: 'rgba(75, 192, 192, 0.2)', // Border color
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: !0,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                            gridLines: {
                                drawBorder: false,
                                display: false
                            },
                            ticks: {
                                display: true, // hide main x-axis line
                                beginAtZero: true
                            },
                            barPercentage: 2,
                            categoryPercentage: 0.2
                        }],
                        yAxes: [{
                            stacked: true,
                            gridLines: {
                                drawBorder: false, // hide main y-axis line
                                display: false
                            },
                            ticks: {
                                display: true,
                                beginAtZero: true
                            },
                        }]
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            });
        }, 100);
    </script>
</body>