@model ExpenseTrackerApp.Models.ViewModels.TransactionViewModels.ExpenseAndIncomeData
@using System.Text.Json

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Analytics</h3>
                                        <p class="mb-2">Welcome Trackify Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a asp-controller="Home" asp-action="Home">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a asp-controller="Transaction" asp-action="Expenses" >Expenses</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a asp-controller="Transaction" asp-action="Analytics">Analytics</a>
                            <a asp-controller="Transaction" asp-action="Expenses" style="color: #2F2CD8">Expenses</a>
                            <a asp-controller="Transaction" asp-action="Income">Income</a>
                            <a asp-controller="Transaction" asp-action="IncomeVsExpenses">Income vs Expenses</a>
                            <a asp-controller="Transaction" asp-action="Balance">Balance</a>
                            <a asp-controller="Transaction" asp-action="TransactionHistory">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class=" col-xxl-4 col-xl-4 col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Expenses Breakdown</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="chartjsDonut"></canvas>
                                        <div class="list-1 mt-3">
                                            <ul>
                                                @{
                                                    foreach(var categoryData in Model.categorieDataList)
                                                    {
                                                        <li>
                                                            <p class="mb-0">@categoryData.Title</p>
                                                            <h5 class="mb-0"><span>$@categoryData.Amount</span>@categoryData.Percentage%</h5>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Transaction History</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="transaction-table">
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-responsive-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach(var expense in Model.transactions)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <span class="table-category-icon">
                                                                            <i class="@expense.Category.CategoryColor.code fi @expense.Category.CategoryIcon.Code"></i>
                                                                            @expense.Category.Title
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                       @expense.Date
                                                                    </td>
                                                                    <td>
                                                                        @expense.Description
                                                                    </td>
                                                                    <td class="text-danger">
                                                                        @expense.Amount
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
    <script>
        setTimeout(() => {
            var ctx = document.getElementById("chartjsDonut");
            var data = @Html.Raw(JsonSerializer.Serialize(Model.categorieDataList.Select(c => c.Percentage).ToList()));
            var labels = @Html.Raw(JsonSerializer.Serialize(Model.categorieDataList.Select(c => c.Title).ToList()));

            new Chart(ctx, {
                type: "doughnut",
                data: {
                    datasets: [
                        {
                            data: data,
                            backgroundColor: [
                                "rgba(22, 82, 240,1)",
                                "rgba(22, 82, 240,0.5)",
                                "rgba(22, 82, 240,0.15)",
                            ],


                        }],
                    labels: labels
                },
                options: {
                    responsive: false,
                    cutoutPercentage: 80,
                    maintainAspectRatio: false,
                    animation: {
                        animateRotate: true,
                        animateScale: true,
                    },
                    legend: {
                        display: false,
                        position: "bottom",
                        labels: {
                            usePointStyle: true,
                            fontSize: 12,
                            fontColor: "#464a53",
                            padding: 20,
                        },
                    },
                },
            })
        }, 100)
    </script>
</body>
