@model ExpenseTrackerApp.Models.ViewModels.TransactionViewModels.IncomeVsExpensesData;

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Income Expense</h3>
                                        <p class="mb-2">Welcome Ekash Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Income Expense</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a asp-controller="Transaction" asp-action="Analytics">Analytics</a>
                            <a asp-controller="Transaction" asp-action="Expenses">Expenses</a>
                            <a asp-controller="Transaction" asp-action="Income">Income</a>
                            <a asp-controller="Transaction" asp-action="IncomeVsExpenses" style="color: #2F2CD8">Income vs Expenses</a>
                            <a asp-controller="Transaction" asp-action="Balance">Balance</a>
                            <a asp-controller="Transaction" asp-action="TransactionHistory">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Income vs Expense Graph</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="chartjsIncomeVsExpense"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Transaction History</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="transaction-table">
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-responsive-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach(var transaction in Model.transactions)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <span class="table-category-icon">
                                                                            <i class="@transaction.Category.CategoryColor.code fi @transaction.Category.CategoryIcon.Code"></i>
                                                                            @transaction.Category.CategoryType.Name
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Date
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Description
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Amount
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
    <script>
        //Transaction Graph
        setTimeout(() => {
            var incomes = @Html.Raw(Json.Serialize(Model.incomsChartData));
            var expenses = @Html.Raw(Json.Serialize(Model.expensesChartData));
            var ctx = document.getElementById("chartjsIncomeVsExpense");
            ctx.height = 100;
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                    datasets: [{
                        label: 'Incomes',
                        data: incomes,
                        backgroundColor: 'rgba(47, 44, 216,1)',
                    },
                    {
                        label: 'Expenses',
                        data: expenses,
                        backgroundColor: 'rgba(47, 44, 216,0.2)',
                    }]
                },
                options: {
                    responsive: !0,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawBorder: false,
                                display: false
                            },
                            ticks: {
                                display: true, // hide main x-axis line
                                beginAtZero: true
                            },
                            barPercentage: 1,
                            categoryPercentage: 0.5
                        }],
                        yAxes: [{
                            gridLines: {
                                drawBorder: false, // hide main y-axis line
                                display: false
                            },
                            ticks: {
                                display: true,
                                beginAtZero: true
                            },
                        }]
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            })
        }, 100)
    </script>
</body>

