@model ExpenseTrackerApp.Models.ViewModels.TransactionViewModels.ExpenseAndIncomeData

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Income</h3>
                                        <p class="mb-2">Welcome Ekash Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs"><a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Income</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a asp-controller="Transaction" asp-action="Analytics">Analytics</a>
                            <a asp-controller="Transaction" asp-action="Expenses">Expenses</a>
                            <a asp-controller="Transaction" asp-action="Income" style="color: #2F2CD8">Income</a>
                            <a asp-controller="Transaction" asp-action="IncomeVsExpenses">Income vs Expenses</a>
                            <a asp-controller="Transaction" asp-action="Balance">Balance</a>
                            <a asp-controller="Transaction" asp-action="TransactionHistory">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Income Breakdown</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="chartjsDonut"></canvas>
                                        <div class="list-1 mt-3">
                                            <ul>
                                                <li>
                                                    <p class="mb-0">Food</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Transport</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Healthcare</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Education</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Clothes</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Pets</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                                <li>
                                                    <p class="mb-0">Entertainment</p>
                                                    <h5 class="mb-0"><span>$1200</span>38%</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Transaction History</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="transaction-table">
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-responsive-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach(var income in Model.transactions)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <span class="table-category-icon">
                                                                            <i class="@income.Category.CategoryColor.code fi @income.Category.CategoryIcon.Code"></i>
                                                                            @income.Category.Title
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        @income.Date
                                                                    </td>
                                                                    <td>
                                                                        @income.Description
                                                                    </td>
                                                                    <td>
                                                                        @income.Amount
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="copyright">
                            <p>© Copyright
                                <script>
                                    var CurrentYear = new Date().getFullYear()
                                    document.write(CurrentYear)
                                </script>
                                <a href="#">Ekash</a> I All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fi fi-brands-facebook"></i></a></li>
                                <li><a href="#"><i class="fi fi-brands-twitter"></i></a></li>
                                <li><a href="#"><i class="fi fi-brands-linkedin"></i></a></li>
                                <li><a href="#"><i class="fi fi-brands-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>