@model List<ExpenseTrackerApp.Models.Transaction>

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Transaction History</h3>
                                        <p class="mb-2">Welcome Ekash Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs"><a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Transaction History</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a asp-controller="Transaction" asp-action="Analytics">Analytics</a>
                            <a asp-controller="Transaction" asp-action="Expenses">Expenses</a>
                            <a asp-controller="Transaction" asp-action="Income">Income</a>
                            <a asp-controller="Transaction" asp-action="IncomeVsExpenses">Income vs Expenses</a>
                            <a asp-controller="Transaction" asp-action="Balance">Balance</a>
                            <a asp-controller="Transaction" asp-action="TransactionHistory" style="color: #2F2CD8">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Transaction History</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="transaction-table">
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-responsive-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach(var transaction in Model)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <span class="table-category-icon">
                                                                            <i class="@transaction.Category.CategoryColor.code fi @transaction.Category.CategoryIcon.Code"></i>
                                                                            @transaction.Category.Title
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Date
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Description
                                                                    </td>
                                                                    <td>
                                                                        @transaction.Amount
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
</body>
